body{
  background-color: #E6C6C6;
}


td{
  padding: 5px 0px 5px 15px;
  border-bottom: 1px solid black;

}

th{
  border-bottom: 3px solid black;
  padding-top: 5%;
}


#template{
  display:none;
}

#editContact{
  display: none;
}

.input-group{
  padding-bottom: 10px;
}

.sortable{
  cursor:pointer;
}
